name: inventory-management-service

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # permissions
      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Build and Test with Maven
        # 'verify' runs Unit Tests, builds the JAR, and runs Integration Tests
        run: ./mvnw -B verify --file pom.xml